body {

    background-color: rgb(0, 161, 155);
}

table {
    border: 1px solid #000000;
    margin: 0 auto;
    width: 50%;

}

table {
    background-color: white;
}

th {
    background-color: #ff1801;
    padding: 8px;
    color: black;
}

td {
    border: 1px solid black;
    border-collapse: collapse
}

.center-table {
    display: block;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 3%;
    margin: 0 auto;
}